name: PHPUnit Testing

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install Dependencies (Composer)
        run: |
          composer install

      - name: Run PHPUnit Tests
        run: |
          ./vendor/bin/phpunit --testdox
