name: PHPUnit Testing

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    # Semua perintah `run:` akan dieksekusi di folder Kelompok10
    defaults:
      run:
        working-directory: ./Kelompok10

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'
          coverage: none

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPUnit tests
        run: ./vendor/bin/phpunit --configuration phpunit.xml
